---
const { title } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} | Evan Allen</title>
  </head>
  <body class="bg-slate-950 text-slate-300 font-mono p-4 md:p-8 min-h-screen selection:bg-cyan-500 selection:text-white">
    <main class="max-w-6xl mx-auto">
      <slot /> 
    </main>
  </body>
</html>